# Dependency directory
node_modules

# build folder
dist
public_html

# config file
*.env
web.config
*.yaml
*.yml
*.pem
for-azure.*
lhgengage.*
npm-debug.log
.DS_Store

# test db
dev.sqlite3

#VS Code folder
.vscode

# zip files
*.zip
*.rar